
MyFirstApp/.vs/MyFirstApp/v15/.suo
MyFirstApp/.vs/MyFirstApp/v15/Server/sqlite3/db.lock
MyFirstApp/.vs/MyFirstApp/v15/Server/sqlite3/storage.ide
MyFirstApp/.vs/MyFirstApp/v15/Server/sqlite3/storage.ide-shm
MyFirstApp/.vs/MyFirstApp/v15/Server/sqlite3/storage.ide-wal
MyFirstApp/MyFirstApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyFirstApp/MyFirstApp/obj/Debug/MyFirstApp.csproj.CoreCompileInputs.cache
MyFirstApp/MyFirstApp/obj/Debug/MyFirstApp.csprojAssemblyReference.cache
MyFirstApp/MyFirstApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MyFirstApp/MyFirstApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MyFirstApp/MyFirstApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MyTestApp/.vs/config/applicationhost.config
MyTestApp/.vs/MyTestApp/v15/.suo
MyTestApp/.vs/MyTestApp/v15/Server/sqlite3/db.lock
MyTestApp/.vs/MyTestApp/v15/Server/sqlite3/storage.ide
MyTestApp/.vs/MyTestApp/v15/Server/sqlite3/storage.ide-shm
MyTestApp/.vs/MyTestApp/v15/Server/sqlite3/storage.ide-wal
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/MyTestApp.AssemblyInfo.cs
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/MyTestApp.AssemblyInfoInputs.cache
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/MyTestApp.assets.cache
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/MyTestApp.csproj.CoreCompileInputs.cache
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/MyTestApp.csproj.FileListAbsolute.txt
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/MyTestApp.csprojAssemblyReference.cache
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/MyTestApp.dll
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/MyTestApp.pdb
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/MyTestApp.RazorAssemblyInfo.cache
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/MyTestApp.RazorAssemblyInfo.cs
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/MyTestApp.RazorTargetAssemblyInfo.cache
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MyTestApp/MyTestApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MyTestApp/MyTestApp/obj/MyTestApp.csproj.nuget.cache
MyTestApp/MyTestApp/obj/MyTestApp.csproj.nuget.g.props
MyTestApp/MyTestApp/obj/MyTestApp.csproj.nuget.g.targets
MyTestApp/MyTestApp/obj/project.assets.json
